body{
	background: url(../images/page-bg.jpg);
	font: 400 12px/22px 'Open Sans', Verdana, Helvetica, sans-serif;
  background-color: grey;
}
#bootstrap-overrides{
  color: white;
}
h1{font: 400 58px/60px 'Bree Serif', Georgia, serif;}
h2{font: 400 18px/22px 'Bree Serif', Georgia, serif;}
h3{font: 400 14px/16px 'Bree Serif', Georgia, serif;}
a {
  color: white;
  text-decoration: underline;
}

#container{
	background: url(../images/body-bg.png);
	overflow:auto;
}
