---
layout: main
---

<body>
<!--Begin About Section-->
    <div id="about">
        <h1>About</h1>
        <ul id="top-social">
            <li><a href="http://www.github.com/gpwclark/" class="github">GitHub</a></li>
            <li><a href="http://www.github.com/university-of-antarctica/" class="uant">U-Ant</a></li>
            <li><a href="http://www.linkedin.com/pub/george-price-clark/3a/aa2/705/" class="linkedin">LinkedIn</a></li>
        </ul>
        <div class="top-divider"></div>
        <div class="content">
        <img src="{{  site.url  }}/images/me_BluePages.png" />
        <h2>My name is Price Clark and I am a developer</h2>
            <p>
            I'm an open-source enthusiast currently in school. I'm very interested in building things and learning new programming languages and tools.
            On my own time I work on a variety of projects with my partner Steven Love under the guise <a href="http://www.uofantarctica.com">The University of Antarctica</a>.
            Check out the site or <a href="https://github.com/university-of-antarctica">check us out on GitHub.</a>
            </p>
        </div>
    <div class="bottom-divider"></div>
    </div>
<!--End About Section-->

<!--Begin Work Section -->
    <div id="work">
        <a href="{{  site.url  }}/blog/index.html" ><h1>Blog</h1></a>
        <div class="top-divider"></div>
          <div class="content">
          <div class="col col-mid">

            <ul class="post-list">
              {% for post in site.posts limit:3 %}
                <li>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                  <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
                  </h2>
                </li>
              {% endfor %}
            </ul>

                </div>
            </div>
        <div class="bottom-divider"></div>
    </div>
<!-- End Work Section-->



<!--Begin Work Section -->
    <div id="work">
    <!--
        <h1>Work</h1>
        <div class="top-divider"></div>
          <div class="content">
          <div class="col col-mid">
                    <ul>
                    <li><a href="">My Internal Documentation</a></li>
                    <li><a href="">My Reference Materials</a></li>
                    </ul>
                </div>
            </div>
        <div class="bottom-divider"></div>
    -->
    </div>
<!-- End Work Section-->


<!--Begin Resume Section-->
    <div id="experience" >

        <a href="{{  site.url  }}/resume/index.html" ><h1>Resume</h1></a>
        <div class="top-divider"></div>
        <div class="content">
        {% include resume.html %}
        </div>
        <div class="bottom-divider"></div>
    </div>
<!--End Resume Section-->
 <!-- The JavaScript -->
        <script type="text/javascript">
                $(function() {
                $('#main-menu li a').bind('click',function(event){
                    var $anchor = $(this);

                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top
                    }, 1500,'easeInOutExpo');
         }, 1500,'easeInOutExpo');

                    event.preventDefault();
                });
            });

                         $(document).ready(function(){
                $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false, deeplinking: false});
                        });

        </script>

