<header class="site-header">
<div id="header">

        <span id="logo"><a href="{{ site.url  }}"><h1><tt>Price Clark</tt></h1></a></span>
<!--
        GET A GPWC THING
-->
        <ul id="main-menu">
        <li><a href="{{  site.url  }}/index.html">Home</a></li>
        <li><a href="{{  site.url  }}/blog/index.html">Blog</a></li>
        <li><a href="{{  site.url  }}/resume/index.html">Resume</a></li>
        <li><a href="{{  site.url  }}/work/index.html">Work</a></li>
        <li><a href="{{  site.url  }}/connect/index.html">Connect</a></li>
    </ul>
</div>

</header>
